.mainbody {
    
}
.maintitle {
    font-family: 'Cormorant Upright', serif;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

}
.mainbody-section {
    margin-bottom: 50px;
   
}

@media screen and (max-width: 1150px) {
    .maintitle {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 7px;
        text-align: center;
        
    }
    .mainbody-section {
        font-size: 13px;
    }
}