.navbar {
    background-color: #404040;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}
.navbar h1 {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}
.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.navbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.navbar li.active {
    text-decoration: underline;
}

.navbar li:hover {
    text-decoration: underline;
}
