<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Poppins:wght@200;400&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    max-width: 100%;
}